.preformatted {
    font-family: monospace;
    white-space: pre;
    border-style: solid;
	counter-reset: compteurlignes;
}
div#fancyDiv {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color:#06F;
    border-style: solid;
    text-align:center;
    color:white;
}
table#awesomeOptionsTable {
    border:none;
    width: 1500px;
    color: black;
    background-color: white;
    margin: 0 auto;
    text-align:left;
}
table#awesomeOptionsTable tr td {
    border:solid black 1px;
}
table#awesomeStatsTable {
    border:solid black 1px;
    width: 1500px;
    color: black;
    background-color: white;
    margin: 0 auto;
    text-align:left;
}
.choixCouleur {
	width:25px;
	height:25px;
}
.motCle {
	font-weight:900;	
	font-style:italic;
}
tr#couleursMotsCles td{
	text-align:center;
	width:25px;
	border:solid black 1px;
	cursor:pointer;
}
table#awesomeStatsTable td {
	border:solid black 1px;	
}
div#ubertexter {
    height: 750px;
    width: 1500px;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    color:black;
    overflow: scroll;
}
div#minified {
    height: 70px;
    width: 1500px;
    font-family: monospace;
	margin: 0 auto;
    white-space: pre;
    border-style: solid;
    background-color: white;
    text-align: left;
    color:black;
    overflow: scroll;
}
div.preformatted span.prettyLignes:before{
	content: counter(compteurlignes);
	width: 2em;
	display: inline-block;
	border-right: 1px solid lightgray;
	background-color:lightgray;
	text-align:right;
}
div.preformatted span.prettyLignes {
	counter-increment: compteurlignes;
}
.show {
    z-index:1000;
    position: absolute;
    background-color:#C0C0C0;
    border: 1px solid blue;
	text-align:left;
    display: block;
    list-style-type: none;
    list-style: none;
}
#menu {
	text-align: left;
	white-space: normal;
	font-family:"Times New Roman", Times, serif;
}
ul{
    margin:0;
    padding:0;
}
.hide {
    display: none;
}
.show ul, li{ 
	list-style: none;
}
.show li {
	 border: 0 !important; text-decoration: none;
}
.show li:hover { 
	cursor: default;
	background-color:#00F;
	color:white;
}
span#cursor
{
	display:inline-block;
	width:10px;
	animation:blink 1s step-end infinite;
	-webkit-animation:blink 1s step-end infinite;
}
@keyframes blink{
	0%{
		background:white;
	}
	25%  {
		background:lightblue;
	}
	50%  {
		background:lightblue;
	}
	75%  {
		background:lightblue;
	}
}
@-webkit-keyframes blink{
	0%{
		background:white;
	}
	25%  {
		background:lightblue;
	}
	50%  {
		background:lightblue;
	}
	75%  {
		background:lightblue;
	}
}